body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    overflow: hidden;
}

#start-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

#back-btn {
    font-family: 'Press Start 2P', cursive;
    background-color: yellow;
    color: black;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#game-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e0d0d;
    z-index: 1;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));
    width: 100%;
    height: 100%;
}

.cell {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-size: cover;
}

.cell.pacpy-0 {
    background-image: url('pacpy1.png');
    /* Pitão ícones criados por Freepik - Flaticon: https://www.flaticon.com/br/icones-gratis/pitao */
}

.cell.pacpy-1 {
    background-image: url('pacpy2.png'); /* Imagem do Pac-Py laranja */
    /* Pitão ícones criados por Freepik - Flaticon: https://www.flaticon.com/br/icones-gratis/java */
}


.cell.fasminha-rosa {
    background-image: url('fasminha1.png'); /* Imagem do fasminha rosa */
    /* Fantasma ícones criados por Smashicons - Flaticon: https://www.flaticon.com/br/icones-gratis/fantasma */
}

.cell.fasminha-vermelho {
    background-image: url('fasminha2.png'); /* Imagem do fasminha vermelho */
    /* Medo ícones criados por Smashicons - Flaticon: https://www.flaticon.com/br/icones-gratis/medo */
}

.cell.fasminha-azul {
    background-image: url('fasminha3.png'); /* Imagem do fasminha azul */
    /* Fantasma ícones criados por Smashicons - Flaticon: https://www.flaticon.com/br/icones-gratis/fantasma */
}

.cell.pontinho {
    background-color: green;
    border-radius: 50%;
    width: 9px;
    height: 9px;
}

.cell.parede {
    background-color: rgba(0, 255, 255, 0.329);
    background-image: url('parede.png'); /* Adiciona a imagem de parede *//*<a href="https://www.flaticon.com/br/icones-gratis/muro-de-berlim" title="muro de berlim ícones">Muro de berlim ícones criados por Freepik - Flaticon</a>*/
    background-size: cover;
    text-align: center;
    line-height: 30px; 
    color: #ffffff00;
    font-size: 20px;
}

#info {
    margin-top: 20px;
}

#start-btn, #restart-btn {
    font-family: 'Press Start 2P', cursive;
    background-color: yellow;
    color: black;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    z-index: 3;
}

#restart-btn {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
